body {
    margin: 0px;
    height: 100%;
    background-image: url("./images/pexels-brett-sayles-1431822.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFAFA;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 300;
    font-style: normal;   
}

.container {
    background-color: rgba(18, 18, 22, 0.6);
    box-shadow: 0px 0px 5px 1px black;
    max-width: 20%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    margin-left: 10%;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    text-align: center;
}

.search h1 {
    padding: 10px;
    margin-top: 5%;
}

input {
    color: #FFFAFA;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFFAFA;
}

.weather_btn {
    margin: 10px;
    color: #FFFAFA;
    background-color: #120A8F;
    border: none;
}

.current {
    margin-top: -95%;
}

.current h1 {
    font-size: 75px;
}

.current h2 {
    margin-top: 45%
}

.current p {
    font-size: 25px;
}