body {
    margin: 0px;
    height: 100%;
    background-image: url("./images/pexels-brett-sayles-1431822.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFAFA;
    font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header {
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 1px;
}

.container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.search {
    background-color: rgba(18, 18, 22, 0.5);
    min-height: 100%;
    
}


.weather_btn {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    background-color: blue;
    color: white;
}

